.btn {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  font-family: var(--font-dm-sans), 'Roboto', sans-serif;
  transition: background 0.2s ease-out, border-color 0.2s ease-out;
}

.btn-icon {
  margin-right: 8px;
}

.disabled {
  background: var(--color-disabled);
  color: var(--color-base-white);
  cursor: not-allowed;
  pointer-events: none;
}

.primary {
  background: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.secondary {
  background: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.primary:hover,
.secondary:hover {
  background: var(--color-accent);
  color: var(--color-primary);
  border: 1px solid var(--color-accent);
}

/* .secondary:hover {
  background: var(--color-secondary);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
} */
