.btn {
  background: var(--color-primary);
  color: var(--color-base-pewter);
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  font-family: var(--font-dm-sans), "Roboto", sans-serif;
  transition: background 0.2s ease-out;
}

.btn-icon {
  margin-right: 8px;
}

.btn:hover {
  background: var(--color-base-black);
  color: var(--color-base-pewter);
}
