.btn {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  font-family: var(--font-dm-sans), 'Roboto', sans-serif;
  transition: background 0.2s ease-out;
}

.btn-icon {
  margin-right: 8px;
}

.btn:hover {
  background: var(--color-base-black);
  color: var(--color-secondary);
}

.disabled {
  background: var(--color-disabled);
  color: var(--color-base-white);
  cursor: not-allowed;
  pointer-events: none;
}

.primary {
  background: var(--color-secondary);
  color: var(--color-primary);
}

.secondary {
  background: var(--color-neutral-dark);
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}
