.navbar {
  height: 5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--color-base-pewter);
}

.logo {
  object-fit: cover;
  width: 5rem;
  height: 4rem;
  margin: 0 1rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  margin: 1.2rem;
}

.social-icon {
  margin: 0 0.5rem;
  /* width: 1.5rem;
    height: 1.5rem; */
  color: var(--color-primary);
  transition: color 0.2s ease-out;
}

.social-icon:hover {
  color: var(--color-base-black);
}

.hamburger {
  display: none;
}

@media screen and (max-width: 780px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    top: 70px;
    right: 0;
    width: 100%;
    height: 100vh;
    transition: 0.2s ease-in-out;
    background-color: var(--color-base-pewter);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
  }

  .nav-links.active {
    opacity: 1;
    pointer-events: all;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .nav-links li {
    margin: 16px 0;
  }

  .social-icon-wrapper {
    margin: 16px 0;
  }
}
