#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 0;
}

.skills-title {
  margin-bottom: 20px;
}

.skills-container {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 4px lightgrey;
}

.skill-image {
  object-fit: cover;
  margin-right: 2rem;
}
