#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 0;
}

.skills-title {
  margin-bottom: 20px;
}

.skills-container {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
