.footer {
  background-color: var(--color-base-pewter);
  padding: 20px;
  text-align: center;
  border-top: 0.8px solid var(--color-primary);
}

.footer-content {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  color: var(--color-base-black);
  text-decoration: none;
}

/* .footer-text:hover {
  text-decoration: underline;
} */

.footer-name {
  color: var(--color-primary);
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-email {
  margin: 0 4px;
}

.social-icon {
  margin: 0 8px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-social {
    margin-top: 10px;
  }
}
