/* FILEPATH: /Users/nicholasoliveira/Projects/portfolio-website/components/Footer/Footer.module.css */

.footer {
  background-color: var(--color-base-pewter);
  padding: 20px;
  text-align: center;
  border-top: 0.8px solid var(--color-primary);
}

.footer-content {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: var(--color-primary);
  text-decoration: none;
}

.footer-text:hover {
  text-decoration: underline;
}

.footer-name {
  color: var(--color-base-black);
}
