#portfolio {
  background-color: var(--color-primary);
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.portfolio-heading {
  color: var(--color-base-pewter);
}

.project-container {
  width: 800px;
}

.project-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 0 20px; */
}

.project-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.project-image {
  position: relative;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
}

.client-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
}

.client-logo {
  object-fit: contain;
}

.left {
  margin-right: 28px;
  background-color: var(--color-primary);
  color: var(--color-base-pewter);
  border: none;
}

.left:hover {
  cursor: pointer;
}

.right {
  margin-left: 28px;
  background-color: var(--color-primary);
  color: var(--color-base-pewter);
  border: none;
}

.right:hover {
  cursor: pointer;
}

.project-title {
  text-align: center;
  margin-top: 20px;
}

.project-description {
  text-align: center;
  margin-bottom: 40px;
}

.indicator {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.active {
  background-color: var(--color-base-pewter);
}

@media screen and (max-width: 768px) {
  .project-container {
    width: 300px;
  }
  .project-items {
    width: 300px;
  }
  .project-controls {
    width: 300px;
  }
  .project-image {
    width: 300px;
    height: 300px;
  }
  .client-logo-wrapper {
    width: 120px;
    height: 120px;
  }
  .client-logo {
    width: 120px;
    height: 120px;
  }
  .project-title {
    font-size: 1.5rem;
  }
  .project-description {
    font-size: 1rem;
  }
}
