#portfolio {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-with-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  width: 800px;
}

.project-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.project-image {
  position: relative;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.left {
  margin-right: 28px;
}

.right {
  margin-left: 28px;
}

.project-title {
  text-align: center;
  margin-top: 20px;
}

.project-description {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.active {
  background-color: var(--color-primary);
}
