/* Portfolio styles */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 100px;
}

.portfolio-heading {
  margin-bottom: 4rem;
}

.project-container {
  width: 60vw;
}

/* Projects styles */

.project-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-project {
  display: flex;
  gap: 5rem;
}

.project-image-container {
  min-width: 500px;
  height: 360px;
  display: flex;
  justify-content: center;
  position: relative;
}

.project-image {
  object-fit: cover;
  opacity: 0.7;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: opacity 0.2s ease-in;
  width: 500px;
}

.project-image:hover {
  opacity: 1;
}

.project-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin: 20px 0;
}

.project-title {
  text-align: center;
  margin-top: 20px;
}

.project-info {
  max-width: 40ch;
}

.project-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin-top: 40px;
}

.left,
.right {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
}

.left {
  margin-right: 28px;
}

.left:hover,
.right:hover {
  cursor: pointer;
}

.right {
  margin-left: 28px;
}

.project-description {
  text-align: center;
  margin-bottom: 40px;
}

.indicator {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  background-color: var(--color-primary);
  width: 15px;
  height: 15px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  transition: background-color 0.2s ease-in;
}

.active {
  background-color: var(--color-secondary);
}

@media screen and (max-width: 1200px) {
  /* Projects styles */
  .current-project {
    flex-direction: column;
    gap: 1.25rem;
  }

  .project-info-container {
    align-items: center;
    text-align: center;
  }

  .project-controls {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  /* Portfolio styles */
  .portfolio {
    padding: 40px 0;
  }

  .project-container {
    width: 300px;
  }

  /* Projects styles */
  .project-items {
    width: 300px;
  }

  .project-controls {
    width: 300px;
  }

  .project-image-container {
    min-width: 400px;
    height: 240px;
  }

  .project-image {
    width: 400px;
  }
}

@media screen and (max-width: 576px) {
  /* Projects styles */
  .current-project {
    gap: 0.5rem;
  }

  .project-image-container {
    min-width: 320px;
    height: 200px;
  }

  .project-image {
    width: 320px;
  }
}
