:root {
  /* Colors */
  --color-primary: #1f1a38;
  --color-secondary: #989fce;
  --color-accent: #ffa62b;
  --color-neutral-dark: #100d1e;
  --color-neutral-light: #fffaf3;
  --color-base-black: #000000;
  --color-base-white: #ffffff;
  --color-error: #dc143c;
  --color-disabled: rgb(140, 140, 140, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-work-sans), 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  color: var(--color-neutral-light);
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--color-primary);
  overflow: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--font-work-sans);
}

h2,
h4 {
  font-size: 2rem;
}

h3,
h5 {
  font-size: 1.5rem;
}

h4,
h5 {
  color: var(--color-secondary);
}

p {
  font-family: var(--font-dm-sans), 'Roboto', sans-serif;
  max-width: 40rem;
}

a {
  text-decoration: none;
  color: var(--color-neutral-light);
  transition: color 0.2s ease-out;
}

a:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0.8rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2,
  h4 {
    font-size: 1.5rem;
  }

  h3,
  h5 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
    max-width: 24rem;
  }

  p a {
    font-size: 1rem;
  }
}
