:root {
  /* COLORS */

  --color-primary: #1f1a38;
  --color-secondary: #989fce;
  --color-accent: #ffa62b;
  --color-neutral-dark: #100d1e;
  --color-neutral-light: #fffaf3;
  --color-base-black: #000000;
  --color-base-white: #ffffff;
  --color-error: #dc143c;
  --color-disabled: rgb(140, 140, 140, 0.5);
  --color-disabled-text: rgb(140, 140, 140, 0.8);

  /* END COLORS */

  /* FONTS */

  /* FAMILIES */
  --ff-primary: var(--font-cabin), 'Roboto', sans-serif;
  --ff-secondary: var(--font-dm-sans), 'Roboto', sans-serif;

  /* SIZES */
  --fs-sm: 0.75rem;
  --fs-rg: 1rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  /* Headings */
  --fs-hd-sm: 1.25rem;
  --fs-hd-rg: 1.5rem;
  --fs-hd-lg: 2rem;
  --fs-hd-xl: 3rem;
  --fs-hd-xxl: 5rem;

  /* WEIGHTS */
  --fw-lt: 300;
  --fw-rg: 400;
  --fw-sb: 600;
  --fw-b: 700;

  /* LINE HEIGHT */
  --lh-default: 1.5;

  /* END FONTS */
}

/* RESETS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* END RESETS */

html {
  font-family: var(--ff-primary);
  font-size: var(--fs-rg);
  font-weight: var(--fw-rg);
  line-height: var(--lh-default);
  text-decoration: none;
  color: var(--color-neutral-light);
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--color-primary);
  overflow: hidden;
  overflow-y: scroll;
}

section {
  padding: 224px 20px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1rem;
  font-weight: var(--fw-rg);
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-hd-xl);
  font-weight: var(--fw-sb);
}

h2,
h4 {
  font-size: var(--fs-hd-lg);
}

h3,
h5 {
  font-size: var(--fs-hd-rg);
}

h4,
h5 {
  color: var(--color-secondary);
}

p,
a {
  font-family: var(--ff-secondary);
}

p {
  max-width: 40rem;
}

a {
  text-decoration: none;
  color: var(--color-neutral-light);
  transition: color 0.2s ease-out;
}

a:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 768px) {
  section {
    padding: 160px 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0.8rem;
  }

  h1 {
    font-size: var(--fs-hd-lg);
  }

  h2,
  h4 {
    font-size: var(--fs-hd-rg);
  }

  h3,
  h5 {
    font-size: var(--fs-hd-sm);
  }

  p,
  p a {
    font-size: var(--fs-rg);
    max-width: 24rem;
  }
}
