/* About styles */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin: 0 auto;
  padding: 280px 20px 300px 20px;
  background: linear-gradient(
    180deg,
    var(--color-neutral-dark) 0%,
    var(--color-primary) 10.26%
  );
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 40ch;
  padding: 0 20px;
}

.about-image {
  border-radius: 0 0 16px 16px;
}

.tools-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ToolsRow styles */

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
  min-width: 55vw;
}

.tool-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tool-image {
  object-fit: contain;
}

.tool-name {
  margin-top: 1rem;
  color: var(--color-primary);
  font-weight: var(--fw-b);
}

.tool-item:hover .tool-name {
  color: var(--color-secondary);
}

@media screen and (max-width: 768px) {
  #about {
    padding: 80px 20px 132px 20px;
  }
  .about-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-paragraph {
    padding: 0;
    margin-top: 20px;
  }
}
